/*
CSS for React components, and components otherwise.
*/

nav {
  display: inline-block;
  li {
    display: inline;
    text-transform: lowercase;
    padding-right: $base-leading/2;
    padding-left: $base-leading/2;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}