/*
Styles for the base layout of the app: header, main and footer.
*/

body {
  padding: $small-horizontal-padding;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .logo {
    margin-right: auto;
  }

  .user-profile-pic {
    height: $base-leading * 2;
    width: $base-leading * 2;
  }
}

main {
  margin-top: $base-leading;
}