html {
  font-size: 62.5%; }

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-body-text;
}

.logo {
  font-size: 2.4rem;
  font-weight: 600;
  color: $color-logo-pink;
}