/*
Variables for colors, lengths, fonts.
*/

$base-leading: 2rem; // Default horizontal or vertical padding. Use multiple or 1/2 of 1/4 of $base-leading where needed.
$small-horizontal-padding: $base-leading/4;


$color-logo-pink: #ff5485;
$color-body-text: #444;